#################################################################################
#                                                                               #
#                                  EMACS STUFF                                  #
*~                                                                              
*#                                                                              
.#*                                                                                                                                
#                                                                               #
#                                                                               #
#################################################################################


test/
progress/
TODO.org

# SYSTEM FILES


*.log

#################################################################################
#                                                                               #
#                                DOCUMENTS/IMAGES                               # 
*.html                                                                          
*.tex                                                                           
*.pdf                                                                           
*.png                                                                           
*.jpg                                                                           
*.jpeg                                                                          
*.tiff                                                                          
#                                                                               #
#                                                                               #
#################################################################################



# custom files

closed.R

#################################################################################
#                                                                               #
#                               R STUFF                                         #
.Rhistory                                                                       
.Rapp.history                                                                   
.RData                                                                          
.Ruserdata                                                                      
/*.tar.gz                                                                       
/*.Rcheck/                                                                      
.Rproj.user/                                                                    
vignettes/*.html                                                                
vignettes/*.pdf                                                                 
*_cache/                                                                        
/cache/                                                                         
docs/                                                                           
*.RDS                                                                           
#                                                                               #
#                                                                               #
#################################################################################


